* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    display: block;
    margin: 0px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    margin: 0;
}

th, td {
    text-align: center;
    padding: 8px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0;
}

.header {
    background-color: #e07d7d;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

.menu {
    background-color: #f2f2f2;
}

.menu form {
    margin: 15px;
}

.footer {
    background-color: #e07d7d;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.deleteBtn {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
